[submodule "cse575_proj_ax"]
	path = cse575_proj_ax
	url = https://github.com/powerfulmandrew/cse575_proj_ax.git
[submodule "cse_575_proj_mt"]
	path = cse_575_proj_mt
	url = https://github.com/mtompkins7225/cse_575_proj_mt.git
[submodule "CSE575-ExoPlanet_Classification"]
	path = CSE575-ExoPlanet_Classification
	url = https://github.com/supradagn/CSE575-ExoPlanet_Classification.git
[submodule "cse575_proj_jy"]
	path = cse575_proj_jy
	url = https://github.com/JamesYu5421/cse575_proj_jy.git
[submodule "cse575_project_al"]
	path = cse575_project_al
	url = https://github.com/a-low/cse575_project_al.git
[submodule "CSE575Proj"]
	path = CSE575Proj
	url = https://github.com/AbhikChowdhury6/CSE575Proj.git
